@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
    font-family: Merriweather;
   background-color:#d8d2c7;
font-size: large  

}
p {
    color: #8F7F63;
    
}
#navbar {
    color: #8F7F63;
}
  

.nav-link {
    color:#8F7F63;

    margin-inline: 1em;

}

.nav-link:hover {
    color: #8f7f638c;
}

.navbar-nav .nav-link.active { 
    color: #8f7f6383;

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: #c7b79c85;


}

.card-img-top {
    
    padding: 1em;
    
    }


.about {
    width: 100%;
    
}
.text-about>p{
    color: #372D61;
   width: 50%;
   height: max-content;
   font-size: x-large
   
    
}


.slide-text,
 .footer-text {
    color: #8F7F63;
    margin: auto auto;
    
    
}
.card {
    background-color:#ECE7DE;
}

.card a {
    text-decoration: none;
    color: #372D61;
    
    
    
}
.btn-primary {
    border-radius: 8px;
    background-color: #6B6A70;
    color: #ECE9DE;
    border:#8C7241;
    font-family: Roboto;
    font-size: x-large;
    margin: 0 auto;
    display: block;
}
.btn-primary:hover {
    background-color:#6b6a7049;
    
}

#digit {
    color:#ECE7DE
}
#digit:hover {
    color:#8F7F63
}

footer {
background-color:#d8d2c7;
}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.place {
    height: 200px;
}
.contacts>p{
    color: #372D61;
    font-style: bold;
}

@media (max-width: 755px) {
    
    .carousel-indicators {
        display: none;
    }
}


