/* ДЕЛАЕМ НАВИГАЦИОННУЮ ПАНЕЛЬ */
/* Делаем панель гибко и фоновый цвет */
.navbar {
    display: flex;
    background-color: rgb(22, 21, 21);
    height: 50px;
}
.navbar>a>img {
   
    width: 100%;
    height: 50px;
}

.nav-list{
    display:flex
}

/* Устанавливаем ссылки-кнопки*/
.nav-list a {
    display: block;
    padding: 1em;
    /* убираем подчеркивание */
    text-decoration: none;
    color: azure; 
    }
/* делаем псевдокласс с подсветкой кнопок (через двоеточие без пробелов) */
 .nav-list a:hover{
    background-color: rgb(36, 35, 35);
 }   

/* убираем ryjgre lkz rjvgf */
.nav-btn {
    display: none;
}


 /* оформляем кнопку-бургер */

 @media (max-width: 1000px) {
 .nav-btn {
    font-size: 1.8em;
    padding-inline: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none;
    background-color: rgb(22, 21, 21);
    color: azure;
    display: block;
    cursor: pointer;
}
/* убираем навигационную панель для смартфонов */
.nav-list {
    display: none;
}
.nav-btn:hover {
    background-color: rgb(36, 35, 35);
}
/* оформляем выпадающее меню с кнопки бургера */
.drop:hover .nav-list {
    display: block;  
    /* позишн делает менюшку выпадающей в какую-то позицию */
    /* абсолют-выдергивает из блока(контейнера) релатив не выдергиватет */
    position: absolute;
    right: 1px;
    background-color: rgb(22, 21, 21);
 }
 .navbar {
    justify-content: space-between;
}
 }